<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>

    <link href="css/syles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/scripts.js"></script>

</head>
<body >

    <div class="contenedor">

        
        <div class="info">
            <!-- Header Section Begin -->
            <div class="mail">
                <div class=" mail1">
                    <div class="correoI">
                        <img src="img/correo.png" alt="">
                    </div>
                    <div>
                        Bits-Inmobiliaroia@gmail.com
                    </div>
                </div>
            </div>
    
            <div class="caja-info">
                <div class="cel">
                    <img src="img/cel.png" alt="">
                    +55-12343242
                </div>
    
                <div class="redes-sociales">
                    <div>
                        <a href="#"> <img src="img/facebook.png" alt=""></a>
                        <a href="#"> <img src="img/instagram.png" alt=""></a>
                    </div>
    
                </div>
            </div>
    
            <div class="login">
                <div class="login1">
                    <div>
                        <img src="img/person.png" alt="">
                    </div>
                    <div class="loginI">
                        <a href="login" class="login-panel">Login  </a>
                        <a href="register" class="login-panel"> | Registarse</a>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- info End -->

    <div class="header">
        <div class="container logo-nav-container">
            
            <img src="img/logo.png" width="100px" alt="Flowers"> 
            <span class="menu-icon">Menu</span>

		    <nav class="navegation">
			    <ul>
				    <li><a href="index">Inicio</a></li>
				    <li><a href="productDetail">Productos</a></li>
			    	<li><a href="productCart">Carrito</a></li>
			    </ul>
		    </nav>

        </div>
    </div>



    

    

<main  style="background-image: url('img/casa2.jpg');">

        <form action="" method="POST" class="formulario">

            <div class="titulo">
                <h1>Venta y renta de casas, departamentos y más</h1>
            </div>    

            <div class="inputs">



                <select name="tipo-compra" id="tipo-compra">
                    <option value="Venta">Venta</option>
                    <option value="Renta">Renta</option>
                </select>

                <input type="text" multiple name="tipo-vivienda" id="tipo-vivienda" list="drawfemails" required size="64" placeholder="Tipo de vivienda">

                <datalist id="drawfemails">
                    <option value="casa">Casas</option>
                    <option value="Departamento">Departamentos</option>
                    <option value="Local">Locales</option>
                    <option value="Terreno">Terrenos</option>
                    <option value="Oficina">Oficinas</option>
                </datalist>
                <br><br><br>


                <input type="ciudad" multiple name="ciudad" id="ciudad" list="drawfemails2" required size="64" placeholder="Seleccione ciudad o palabra clave">
                <datalist id="drawfemails2">
                    <option value="CDMX">CDMX</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Morelia">Morelia</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Leon">Leon</option>
                    <option value="Monterrey">Monterrey</option>
                    <option value="Ixtapa">Ixtapa</option>
                    <option value="Queretaro">Queretaro</option>
                </datalist>
                <br><br><br>

                <button type="submit" id="boton">Buscar</button>

            </div>
        </form>
        <div class="borrar"></div>
</main>


    <footer>
        <div class="container">
            <p> paguina diseñada por oscar
            </p>

        </div>
    </footer>

</div>


</body>

</html>
