p{
    margin-bottom: 1.6em;
}
.fecha{
    padding-left: 5px ;
    padding-right: 5px;
}
.spanV{
    font-weight: bold;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;

}

.container2{
    width: 85%;
    max-width: 850px;


}

.contenedor{
    border: solid 10px #689068;
}


.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

.header{

    background: #333 ;
    color: white;
    padding: 0rem 0;

    /*position: fixed;*/
    left: 0;
    /*top:0;*/
    width: 100%;
}

.header a{
    color: white;
    text-decoration: none;
}


.navegation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.navegation ul li{
    display: inline-block;

}


.navegation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 6px;
}

.navegation ul li a:hover{
    background: #0b76a6;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.3em;
}


footer{
    background: #f2f2f2;
    padding: 4rem 0;
    text-align:center ;


}


.menu-icon{
    display: none;
}



//new


.mail{
    display: flex;
    align-items: center;
    justify-content:flex-end;

}


.caja-info{
    display: flex;
    border: solid 1px rgba(163, 163, 163,0.4);
    align-items: center;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}
.mail1{
    margin: 25px;
    display: flex;
    align-items: center;

    width: 90%;

}
.correoI{
    margin: 10px;
}
.redes-sociales{
    margin: 8px;
    
}
.login{
    display: flex;
    border: solid 1px rgba(163, 163, 163,0.4);
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

.login1{
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginI{
    margin: 3px;
}
.login-panel{
    color: black;
    text-decoration: none;
}
.login-panel:hover{
    text-decoration: underline;
    color: black;
}

.cel{
    margin: 8px;
}

.info{
    display: flex;

    justify-content: space-around;
    height: 65px;
    width: 100%;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.titulo{
    display: flex;
    justify-content: center;
    width: 98%;
    align-items: flex-start;
}
#tipo-compra{
    height: 45px;
    width: 15vw;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;

    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#tipo-vivienda{
    height: 45px;
    width: 40vw;
    margin: 10px;

    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#ciudad{
    height: 45px;
    width: 35vw;

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formulario{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
}

main {
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    height: 65vh;
    border-bottom: solid 3px rgba(122, 122, 122, 0.575);
}

#logo{
    width: 272px;
}

.borrar{
    height: 100vh;
}

.titulo{
    background-color: rgba(112, 112, 112, 0.4);
    justify-content: center;
}

h1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 240%;
    font-style: italic;
    font-weight: bold;
}

#boton{
    margin-left: 30px;
    width: 200px;
    height: 40px;

    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#boton:hover{
    background-color: #45a049;

}


body{

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}
.conte{
    width: 25%;
    height: 65vh;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;
    

}
.conte .card{
    height: 35vh;
    width: 100%;
    margin-bottom: 1%;

}

.card img{
    margin: auto;
    
    display: block;
}

.conte img{
    width: 98%;

    height: 100%;;
}
.conte{
     background-color: white;
}

.informacion{
    height: 28%;
}
.informacion h1{
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}
.informacion p{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: #555;
}
.precio {
    height: 10vh;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box-precio{
    width: 70px;
    height: 150px;
    margin-top: 0;
}
 .precio1{
    color: red;
    font-size: .8em;
}
.precio .precio2{
    font-size: 1.5em;
}
.shoping{
    font-size: 1.5em;
    color: #555;
}

.cont-gen-prod{
    margin-top: 100px;
}
.cont-gen-prod h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 300%;
    color: rgba(112, 112, 112, 0.678) ;
}

.contenedor-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border-top: solid 2px rgba(168, 168, 168, 0.363);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover{
    background-color: #45a049;

}

  button a{
      color: white;
      text-decoration: none;
  }

  .button-detalle{
    padding-top: 0%;
    padding-left: 35%;
  }


@media (max-width:1600px)
{
  .conte{
      height: 60vh;
      width: 30%;
      margin: 30px 0;
  }
  .button-detalle{
    padding-top: 5%;
    padding-left: 10%;
  }

}
@media (max-width:1100px)
  {

    .button-detalle{
        padding-left: 30%;
    }
    .button{
        width: 150%;
    }

    .card img{
        margin: auto;
        display: block;
    }
    .conte img{
        width: 96%;
    }
    .conte{
        height: 64vh;
        width: 80%;
        margin: 30px 0;
    }

    .conte .card{
        height: 65%;
        width: 100%;
        margin-bottom: 10px;
    }
    .informacion{
        font-size: 1.5em;
        height: 100px;
        width: 100%;
        margin-bottom: 3%;
    }
    .informacion h1{
        font-family: sans-serif;
        font-size: 1.2em;
        text-align: center;
        color: #333;
        margin-bottom: -10px;
    }
    .informacion p{
        text-align: center;
        font-family: sans-serif;
        font-size: .9em;
        color: #555;
    }

    .precio {
        height:70px;
        width: 85%;
        margin-top: auto;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .box-precio{
        width: 80px;
    }
     .precio1{
        font-size: .8em;
    }
    .precio .precio2{
        font-size: 1.5em;
    }

}

@media (max-width:700px)
{

    .navegation ul li{
        display: block;
    
    }
    .navegation{
        width: 100%;
        margin-top: 1rem;

    }

    .navegation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.3s linear;
        border-radius: 6px;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navegation ul {
        display: none;
    }
    .navegation ul.show {
        display: block;
    }

    .mail{
        display: none;
    }

    h1{
        font-size: 140%;
    }

    #tipo-compra{

        width: 90%;

    }
    #tipo-vivienda{

        width: 90%;

    }
    
    #ciudad{

        width: 90%;
    }

    .titulo{
        background-color: rgba(112, 112, 112, 0.4);
        display: flex;
        justify-content: center;
        text-align: center;
    }









    .button{
        width: 105%;
        height: 50px;
        display: flex;

    }

    .button-detalle{
        padding-left: 5%;
        font-size: 1em; 
        text-align: left;
    }

    .card img{
        margin: auto;
        display: block;
    }
    .conte img{
        width: 96%;
        height: 96%;
    }
    .conte{
        height: 56vh;
        width: 80%;
        margin: 30px 0;
    }

    .conte .card{
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .informacion{
        height: 25%;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        
    }
    .informacion h1{
        font-family: sans-serif;
        font-size: 64%;
        text-align: center;
        color: #333;
        margin-bottom: -10px;
    }
    .informacion p{
        text-align: center;
        font-family: sans-serif;
        font-size: 50%;
        color: #555;
    }

    .precio {
        height:16%;
        width: 90%;
        margin-top: auto;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .box-precio{
        width: 90px;
    }
     .precio1{
        color: red;
        font-size: 70%;
    }
    .precio .precio2{
        font-size: 90%;
    }

}
