body {
    background-image: url("./img/register.jpg");
}

form {
    margin: 0 auto;
    width: 40vw;
    padding: 10%;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 50vw;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button-register {
    padding-left: 90px; 
  }
  
  button {
    margin-left: .5em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 1em;
    border: none;
  }

  .fondo-registro {
      padding: 10vh;
      position: static;
      background-repeat: no-repeat;
  }

  h1 {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: #000;
  }