<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>

</head>


<body>


   <%- include('partials/header') %>

    <main class="fondo-index"  style="background-image: url('img/casa2.jpg');">

        <form action="/productos/filtrados" method="POST" class="formulario">

            <div class="titulo">
                <h1>Venta y renta de casas, departamentos y más</h1>
            </div>    

            <div class="inputs">

                <select name="tipo" id="tipo-compra">
                    <option value="Venta">Venta</option>
                    <option value="Renta">Renta</option>
                </select>

                <input type="text" multiple name="category" id="tipo-vivienda" list="drawfemails" required size="64" placeholder="Tipo de vivienda">

                <datalist id="drawfemails">
                    <option value="Casa">Casas</option>
                    <option value="Departamento">Departamentos</option>
                    <option value="Local">Locales</option>
                    <option value="Terreno">Terrenos</option>
                    <option value="Oficina">Oficinas</option>
                </datalist>
                <br><br><br>


                <input type="ciudad" multiple name="city" id="ciudad" list="drawfemails2" required size="64" placeholder="Seleccione ciudad o palabra clave">
                <datalist id="drawfemails2">
                    <option value="CDMX">CDMX</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Morelia">Morelia</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Leon">Leon</option>
                    <option value="Monterrey">Monterrey</option>
                    <option value="Ixtapa">Ixtapa</option>
                    <option value="Queretaro">Queretaro</option>
                </datalist>
                <br><br>

                <button type="submit" id="boton">Buscar</button>

            </div>
        </form>
    </main>

</body>