<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>

</head>


<body>


   <%- include('partials/header') %>

    <main class="fondo-index"  style="background-image: url('img/casa2.jpg');">

        <form action="/productos/filtrados" method="POST" class="formulario">

            <div class="titulo">
                <h1>Venta y renta de casas, departamentos y más</h1>
            </div>    

            <div class="inputs">

                <select name="tipo" id="tipo-compra">
                    <option value="Venta">Venta</option>
                    <option value="Renta">Renta</option>
                </select>

                <input type="text" multiple name="category" id="tipo-vivienda" list="drawfemails" required size="64" placeholder="Tipo de vivienda">

                <datalist id="drawfemails">
                    <option value="Casa">Casas</option>
                    <option value="Departamento">Departamentos</option>
                    <option value="Local">Locales</option>
                    <option value="Terreno">Terrenos</option>
                    <option value="Oficina">Oficinas</option>
                </datalist>
                <br><br><br>


                <input type="ciudad" multiple name="city" id="ciudad" list="drawfemails2" required size="64" placeholder="Seleccione ciudad o palabra clave">
                <datalist id="drawfemails2">
                    <option value="CDMX">CDMX</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Morelia">Morelia</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Leon">Leon</option>
                    <option value="Monterrey">Monterrey</option>
                    <option value="Ixtapa">Ixtapa</option>
                    <option value="Queretaro">Queretaro</option>
                </datalist>
                <br><br>

                <button type="submit" id="boton">Buscar</button>

            </div>
        </form>
    </main>

    <div class="cajas">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../img/community.svg" width="100vw" height="100wh">
                    <h2>Comunidad</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="flip-box-back">
                    <img src="../img/group-of-friends-gathering-together.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../img/neighborhood.svg" width="100vw" height="100wh">
                    <h2>Vecindario</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="flip-box-back">
                    <img src="../img/lonely-road-with-modern-buildings.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../img/shopping-bag.svg" width="100vw" height="100wh">
                    <h2>Centro Comercial</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="flip-box-back">
                    <img src="../img/view-of-city-square.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="cajas">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../img/abc.svg" width="100vw" height="100wh">
                    <h2>Educación</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="flip-box-back">
                    <img src="../img/group-of-kids-studying-at-school.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../img/weightlifting.svg" width="100vw" height="100wh">
                    <h2>Gimnasio</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="flip-box-back">
                    <img src="../img/dumbbells-in-fitness.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../img/beach-ball.svg" width="100vw" height="100wh">
                    <h2>Alberca</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="flip-box-back">
                    <img src="../img/cheerful-children-rejoicing-jumping-swimming-in-pool.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="about">

            <h2>Sobre el proyecto</h2>
            <p>Si usted es propietario de una vivienda y desea seguir adelante, nosotros realizaremos una tasación gratuita y sin compromiso de su propiedad lo antes posible. Si elige utilizarnos para comercializar su propiedad. Si está buscando una casa, visítenos o contáctenos. Comercializamos todas nuestras propiedades en los sitios web de grandes propiedades y en nuestro propio sitio. Es posible que tengamos algo nuevo en nuestros libros que pueda ver primero antes de comenzar nuestro marketing. ¡No querrás perderte tu hogar perfecto!</p>
           <center> <img class="edificio-img" src="../img/modern-office-building-low-angle-view-of-skyscrapers-in-city-of-singapore-modern-office-building-low-angle-view-of-skyscrapers-in-city-of-singapore.jpg" width="600px" height="300px"></center>
    </div>

    <div class="future">
        <h2>¡SU FUTURO SE VE BRILLANTE!</h2>
        <center><a href="../productos/#cont-gen-prod" class="button-vermas">Ver más</a></center>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.1543060598838!2d-100.31853038510701!3d25.666179118812074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be2564a51acb%3A0xce66fe196495b048!2sAuditorio%20Pabell%C3%B3n%20M!5e0!3m2!1ses-419!2smx!4v1631560596891!5m2!1ses-419!2smx" width=100% height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <%- include('partials/footer') %>
</body>