
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link href="css/login2.css" rel="stylesheet"> 
<!--<link href="css/styles.css" rel="stylesheet"> -->
<%- include('partials/head') %>
</head>
<body >
  <%- include('partials/header') %>
<form action="/login" method="post" >
  <div class="imgcontainer">
    <img src="img/avatar.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container-login">
    <label for="uname" class="label"><b>Email</b></label>
    <center><input type="email" placeholder="Enter email" name="email" required value="<%=locals.oldData ? oldData.email : null %>">
      <%if(locals.errors && errors.email){%>
        <div class="text-danger">
          <%= errors.email.msg%>
        </div>
      <%}%>
    </center>
    <br>

    <label for="psw" class="label"><b>Password</b></label>
    <center><input type="password" placeholder="Enter Password" name="password" required></center>
    <label>
      <input type="checkbox" checked="checked" name="remember" class="remember"> Remember me
    </label>
    <center><button type="submit">Login</button> </center>

  
    <div class="acomodo">
        
        <center><div><span class="psw"> <a href="#">¿Olvidaste la contraseña?</a> <a href="register">| Registrate</a></span></div></center>
  </div> 
 <!-- <center><div><button type="button" class="cancelbtn"><a href="index">Volver</a></button></div></center> -->
</form>
</body>
</html>
