<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>

    <link href="css/styles.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <div class="contenedor">

        
        <div class="info">
            <!-- Header Section Begin -->
            <div class="mail">
                <div class=" mail1">
                    <div class="correoI">
                        <img src="img/correo.png" alt="">
                    </div>
                    <div>
                        Bits-Inmobiliaroia@gmail.com
                    </div>
                </div>
            </div>
    
            <div class="caja-info">
                <div class="cel">
                    <img src="img/cel.png" alt="">
                    +55-12343242
                </div>
    
                <div class="redes-sociales">
                    <div>
                        <a href="#"> <img src="img/facebook.png" alt=""></a>
                        <a href="#"> <img src="img/instagram.png" alt=""></a>
                    </div>
    
                </div>
            </div>
    
            <div class="login">
                <div class="login1">
                    <div>
                        <img src="img/person.png" alt="">
                    </div>
                    <div class="loginI">
                        <a href="login" class="login-panel">Login  </a>
                        <a href="register" class="login-panel"> | Registarse</a>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- info End -->

    <div class="header">
        <div class="container logo-nav-container">
            
            <img src="img/logo.png" width="100px" alt="Flowers"> 
            <span class="menu-icon">Menu</span>

		    <nav class="navegation">
			    <ul>
				    <li><a href="index">Inicio</a></li>
				    <li><a href="productDetail">Productos</a></li>
			    	<li><a href="productCart">Carrito</a></li>
			    </ul>
		    </nav>

        </div>
    </div>
<div class="fondo-registro" style="background-image: url('img/register.jpg');">
    <h1>Registro</h1>
   <form action="" method="post">
    
   <ul>    
  <li>
    <label for="name">Nombre</label>
    <input type="text" id="name" name="user_name">
  </li>
  <li>
    <label for="mail">Correo electrónico:</label>
    <input type="email" id="mail" name="user_mail">
  </li>
  <li>
      <label for="password">Contraseña</label>
      <input type="password" id="pass" name="user_pass">
  </li>
  <li class="button">
    <button type="submit">Registrar</button>
  </li>
 </ul>
   </form>

</body>
</div>
</html>