 <div class="info">
        <!-- Header Section Begin -->
        <div class="mail">
            <div class=" mail1">
                <div class="correoI">
                    <img src="img/correo.png" alt="">
                </div>
                <div>
                    Bits-Inmobiliaroia@gmail.com
                </div>
            </div>
        </div>
    
        <div class="caja-info">
            <div class="cel">
                <img src="img/cel.png" alt="">
                +55-12343242
            </div>
    
            <div class="redes-sociales">
                <div>
                    <a href="#"> <img src="img/facebook.png" alt=""></a>
                    <a href="#"> <img src="img/instagram.png" alt=""></a>
                </div>
    
            </div>
        </div>
    
        <div class="login">
            <div class="login1">
                <div>
                    <img src="img/person.png" alt="">
                </div>
                <div class="loginI">
                    <a href="../login" class="login-panel">Login  </a>
                    <a href="../register" class="login-panel"> | Registarse</a>
                </div>
            </div>
        </div>
    
    </div>
    <!-- info End -->
    
    <div class="header">
        <div class="container logo-nav-container">
            
            <img src="../img/logo.png" width="100px" alt="Flowers"> 
            <span class="menu-icon">Menu</span>
    
            <nav class="navegation">
                <ul>
                    <li><a href="../index">Inicio</a></li>
                    <li><a href="../productos/#cont-gen-prod">Productos</a></li>
                    <li><a href="../productos/productCart">Carrito</a></li>
                    <li><a href="../users/crearProducto">Crear Producto</a></li>
                </ul>
            </nav>
    
        </div>
    </div>