<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>

    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/productCart.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <%- include('../partials/header') %>

   <div id="general-carrito">

       <div id="part1">
        <div id="carrito">
            <h2>Carrito</h2>
         </div>
       </div>

       <div id="part2">
           <div id="img-articulo">
               <img src="../img/casa1.jpg" alt="">
           </div>
           <div id="descr-articulo">
               <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum rerum vitae tenetur, eveniet reprehenderit animi dignissimos quae ab alias, quas maiores laborum! Ab voluptatibus, eos accusantium cum accusamus eveniet.</h3>
           </div>

       </div>
       <div id="dis-precio">
        <div id="disponible">
            <h3>Precio</h3>
        </div>
        <div id="precio">
            <h4>$6,000,000</h4>
        </div>
       </div>
       <div id="part3">
           <div id="subtotal">
               <h2>Subtotal (1 producto): &6,000,000</h2>
           </div>
           <input id="boton" type="submit" value="Comprar">
       </div>
   </div>
   
   
</body>
</html>