<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>

    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/productCart.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <div class="contenedor">

        
        <div class="info">
            <!-- Header Section Begin -->
            <div class="mail">
                <div class=" mail1">
                    <div class="correoI">
                        <img src="../img/correo.png" alt="">
                    </div>
                    <div>
                        Bits-Inmobiliaroia@gmail.com
                    </div>
                </div>
            </div>
    
            <div class="caja-info">
                <div class="cel">
                    <img src="../img/cel.png" alt="">
                    +55-12343242
                </div>
    
                <div class="redes-sociales">
                    <div>
                        <a href="#"> <img src="../img/facebook.png" alt=""></a>
                        <a href="#"> <img src="../img/instagram.png" alt=""></a>
                    </div>
    
                </div>
            </div>
    
            <div class="login">
                <div class="login1">
                    <div>
                        <img src="../img/person.png" alt="">
                    </div>
                    <div class="loginI">
                        <a href="../login" class="login-panel">Login  </a>
                        <a href="../register" class="login-panel"> | Registarse</a>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- info End -->

    <div class="header">
        <div class="container logo-nav-container">
            
            <img src="../img/logo.png" width="100px" alt="Flowers"> 
            <span class="menu-icon">Menu</span>

		    <nav class="navegation">
			    <ul>
				    <li><a href="../index">Inicio</a></li>
				    <li><a href="productDetail">Productos</a></li>
			    	<li><a href="productCart">Carrito</a></li>
                    
			    </ul>
		    </nav>

        </div>
    </div>

   <div id="general-carrito">

       <div id="part1">
        <div id="carrito">
            <h2>Carrito</h2>
         </div>
       </div>

       <div id="part2">
           <div id="img-articulo">
               <img src="../img/casa1.jpg" alt="">
           </div>
           <div id="descr-articulo">
               <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum rerum vitae tenetur, eveniet reprehenderit animi dignissimos quae ab alias, quas maiores laborum! Ab voluptatibus, eos accusantium cum accusamus eveniet.</h3>
           </div>

       </div>
       <div id="dis-precio">
        <div id="disponible">
            <h3>Precio</h3>
        </div>
        <div id="precio">
            <h4>$6,000,000</h4>
        </div>
       </div>
       <div id="part3">
           <div id="subtotal">
               <h2>Subtotal (1 producto): &6,000,000</h2>
           </div>
           <input id="boton" type="submit" value="Comprar">
       </div>
   </div>
   
   
</body>
</html>