<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>

    <link href="../css/productos.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/scripts.js"></script>

</head>


<body>


    <%- include('../partials/header') %>
    <main  style="background-image: url('../img/casa2.jpg');">

        <form action="" method="POST" class="formulario">

            <div class="titulo">
                <h1>Venta y renta de casas, departamentos y más</h1>
            </div>    

            <div class="inputs">



                <select name="tipo-compra" id="tipo-compra">
                    <option value="Venta">Venta</option>
                    <option value="Renta">Renta</option>
                </select>

                <input type="text" multiple name="tipo-vivienda" id="tipo-vivienda" list="drawfemails" required size="64" placeholder="Tipo de vivienda">

                <datalist id="drawfemails">
                    <option value="casa">Casas</option>
                    <option value="Departamento">Departamentos</option>
                    <option value="Local">Locales</option>
                    <option value="Terreno">Terrenos</option>
                    <option value="Oficina">Oficinas</option>
                </datalist>
                <br><br><br>


                <input type="ciudad" multiple name="ciudad" id="ciudad" list="drawfemails2" required size="64" placeholder="Seleccione ciudad o palabra clave">
                <datalist id="drawfemails2">
                    <option value="CDMX">CDMX</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Morelia">Morelia</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Leon">Leon</option>
                    <option value="Monterrey">Monterrey</option>
                    <option value="Ixtapa">Ixtapa</option>
                    <option value="Queretaro">Queretaro</option>
                </datalist>
                <br><br><br>

                <button type="submit" id="boton">Buscar</button>

            </div>
        </form>
        <div class="borrar"></div>
    </main>

    <div class="cont-gen-prod" id="cont-gen-prod">
        <h2>Casas</h2>
        <div class="contenedor-products">
            <div class="conte ">
                    <div class="card">
                        <img src="../img/casa1.jpg" alt="">
                    </div>
                    <div class="informacion">
                        <h1>LA FLORESTA
                            Camacho, La Molina</h1>
                        <p class="fecha">
                            Venta de Casa en La Molina
                        </p>
                    </div>
                    <div class="precio">
                        <div class="box-precio">
                            <span class="precio1"><strike>$2,000,000</strike> </span>
                        <span class="precio2"><b>$1,300,000</b></span>
                        </div>
                        <div class="button-detalle"><button class="button"><a href="../productos/productDetail">Ver detalle</a></button></div>
                        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                    </div>
            </div>
            <div class="conte ">
                        <div class="card">
                            <img src="../img/casa2.jpg" alt="">
                        </div>
                        <div class="informacion">
                            <h1>LA FLORESTA
                                Camacho, La Molina</h1>
                        <p class="fecha">
                            Venta de Casa en La Molina
                        </p>
                        </div>
                        <div class="precio">
                            <div class="box-precio">
                                <span class="precio1"><strike>$2,000,000</strike> </span>
                            <span class="precio2"><b>$1,300,000</b></span>
                            </div>
                            <div class="button-detalle"><button class="button"><a href="../productos/productDetail">Ver detalle</a></button></div>
                            <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                        </div>
            </div>
            <div class="conte ">
                    <div class="card">
                        <img src="../img/casa3.jpeg" alt="">
                    </div>
                    <div class="informacion">
                        <h1>LA FLORESTA
                            Camacho, La Molina</h1>
                    <p class="fecha">
                        Venta de Casa en La Molina
                    </p>
                    </div>
                    <div class="precio">
                        <div class="box-precio">
                            <span class="precio1"><strike>$2,000,000</strike> </span>
                        <span class="precio2"><b>$1,300,000</b></span>
                        </div>
                        <div class="button-detalle"><button class="button"><a href="../productos/productDetail">Ver detalle</a></button></div>
                        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                    </div>
            </div>
            <div class="conte ">
                <div class="card">
                    <img src="../img/casa4.jpg" alt="">
                </div>
                <div class="informacion">
                    <h1>LA FLORESTA
                        Camacho, La Molina</h1>
                <p class="fecha">
                    Venta de Casa en La Molina
                </p>
                </div>
                <div class="precio">
                    <div class="box-precio">
                        <span class="precio1"><strike>$2,000,000</strike> </span>
                    <span class="precio2"><b>$1,300,000</b></span>
                    </div>
                    <div class="button-detalle"><button class="button"><a href="../productos/productDetail">Ver detalle</a></button></div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>
            <div class="conte ">
                <div class="card">
                    <img src="../img/casa5.jpg" alt="">
                </div>
                <div class="informacion">
                    <h1>LA FLORESTA
                        Camacho, La Molina</h1>
                <p class="fecha">
                    Venta de Casa en La Molina
                </p>
                </div>
                <div class="precio">
                    <div class="box-precio">
                        <span class="precio1"><strike>$2,000,000</strike> </span>
                    <span class="precio2"><b>$1,300,000</b></span>
                    </div>
                    <div class="button-detalle"><button class="button"><a href="../productos/productDetail">Ver detalle</a></button></div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>
            <div class="conte ">
                <div class="card">
                    <img src="../img/casa6.jpg" alt="">
                </div>
                <div class="informacion">
                    <h1>LA FLORESTA
                        Camacho, La Molina</h1>
                <p class="fecha">
                    Venta de Casa en La Molina
                </p>
                </div>
                <div class="precio">
                    <div class="box-precio">
                        <span class="precio1"><strike>$2,000,000</strike> </span>
                    <span class="precio2"><b>$1,300,000</b></span>
                    </div>
                    <div class="button-detalle"><button class="button"><a href="../productos/productDetail">Ver detalle</a></button></div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>       
        </div>
    </div>


    <div class="cont-gen-prod">
        <h2>Departamentos</h2>
        <div class="contenedor-products">
            <div class="conte ">
                    <div class="card">
                        <img src="../img/casa1.jpg" alt="">
                    </div>
                    <div class="informacion">
                        <h1>LA FLORESTA
                            Camacho, La Molina</h1>
                    <p class="fecha">
                        Venta de Casa en La Molina
                    </p>
                    </div>
                    <div class="precio">
                        <div class="box-precio">
                            <span class="precio1"><strike>$2,000,000</strike> </span>
                        <span class="precio2"><b>$1,300,000</b></span>
                        </div>
                        <div class="button-detalle"><button class="button"><a href="productos/productDetail">Ver detalle</a></button></div>
                        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                    </div>
            </div>
            <div class="conte ">
                        <div class="card">
                            <img src="../img/casa2.jpg" alt="">
                        </div>
                        <div class="informacion">
                            <h1>LA FLORESTA
                                Camacho, La Molina</h1>
                        <p class="fecha">
                            Venta de Casa en La Molina
                        </p>
                        </div>
                        <div class="precio">
                            <div class="box-precio">
                                <span class="precio1"><strike>$2,000,000</strike> </span>
                            <span class="precio2"><b>$1,300,000</b></span>
                            </div>
                            <div class="button-detalle"><button class="button"><a href="productos/productDetail">Ver detalle</a></button></div>
                            <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                        </div>
            </div>
            <div class="conte ">
                    <div class="card">
                        <img src="../img/casa3.jpeg" alt="">
                    </div>
                    <div class="informacion">
                        <h1>LA FLORESTA
                            Camacho, La Molina</h1>
                    <p class="fecha">
                        Venta de Casa en La Molina
                    </p>
                    </div>
                    <div class="precio">
                        <div class="box-precio">
                            <span class="precio1"><strike>$2,000,000</strike> </span>
                        <span class="precio2"><b>$1,300,000</b></span>
                        </div>
                        <div class="button-detalle"><button class="button"><a href="productos/productDetail">Ver detalle</a></button></div>
                        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                    </div>
            </div>
            <div class="conte ">
                <div class="card">
                    <img src="../img/casa4.jpg" alt="">
                </div>
                <div class="informacion">
                    <h1>LA FLORESTA
                        Camacho, La Molina</h1>
                <p class="fecha">
                    Venta de Casa en La Molina
                </p>
                </div>
                <div class="precio">
                    <div class="box-precio">
                        <span class="precio1"><strike>$2,000,000</strike> </span>
                    <span class="precio2"><b>$1,300,000</b></span>
                    </div>
                    <div class="button-detalle"><button class="button"><a href="productos/productDetail">Ver detalle</a></button></div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>
            <div class="conte ">
                <div class="card">
                    <img src="../img/casa5.jpg" alt="">
                </div>
                <div class="informacion">
                    <h1>LA FLORESTA
                        Camacho, La Molina</h1>
                <p class="fecha">
                    Venta de Casa en La Molina
                </p>
                </div>
                <div class="precio">
                    <div class="box-precio">
                        <span class="precio1"><strike>$2,000,000</strike> </span>
                    <span class="precio2"><b>$1,300,000</b></span>
                    </div>
                    <div class="button-detalle"><button class="button"><a href="productos/productDetail">Ver detalle</a></button></div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>
            <div class="conte ">
                <div class="card">
                    <img src="../img/casa6.jpg" alt="">
                </div>
                <div class="informacion">
                    <h1>LA FLORESTA
                        Camacho, La Molina</h1>
                <p class="fecha">
                    Venta de Casa en La Molina
                </p>
                </div>
                <div class="precio">
                    <div class="box-precio">
                        <span class="precio1"><strike>$2,000,000</strike> </span>
                    <span class="precio2"><b>$1,300,000</b></span>
                    </div>
                    <div class="button-detalle"><button class="button"><a href="productos/productDetail">Ver detalle</a></button></div>
                    <span class="shoping"><i class="fas fa-cart-plus"></i></span>
                </div>
            </div>       
        </div>
    </div>

    <footer>
        <div class="container">
            <p> paguina diseñada por oscar
            </p>

        </div>
    </footer>

</body>